@import url(./default.css);

html {
    scroll-behavior: smooth;
}

/* ===================== 
        NavBar Mobile & Desktop
    ====================
*/
.mobile-head {
    position: absolute;
    display: flex;
    width: 100%;
}
.logo-menubar {
    padding: .5rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.logo {
    width: 60px;
}
.menu-bar-icon {
    transition: var(--transition);
}
.menu-bar-icon:hover {
transform: rotate(270deg);
}
.menu-bar-icon > button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.nav-wrap {
    position: fixed;
     top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  visibility: hidden;
  z-index: -1;
  transition: var(--transition);
  transform: scale(0);
  background: rgba(0, 0, 0, 0.5);
}

.nav {
    width: 90vw;
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #cde9f2;
    border-radius: var(--borderRadius);
}

.close-icon {
    cursor: pointer;
    width: 100%;
    text-align: right;
    padding: 1rem;
}
.nav-links {
    width: 100%;
    text-align: center;
}
.nav-links > li {
    background-color: #35a8cc;
    padding: 1rem;
    margin: 5px;
    border-radius: 0.25rem;
    transition: 0.3s ease-in-out all;
}
.nav-links > li:hover {
    background-color: #013a4c;
}
.nav-links > li > a {
    color: #f9f9fa;
    font-size: 1.2rem;
}
.hero-img-wrap {
    position: relative;
    z-index: -2;
}
.desktop-nav-hero {
    display: none;
}
.mobile-hero-cover {
    position: absolute;
    width: 100%;
    min-height: 100%;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));
    display: flex;
    align-items: center;
}
.mobile-hero-text {
    font-size: 1.1rem;
    color: var(--white);
    width: 40vw;
    margin-left: 1.8rem;
    margin-top: 3rem;
    font-family: 'Bodoni Moda', serif;
    text-transform: none;
}
.mobile-hero-btn {
    font-family: var(--headingFont);
    background-color: #FB1E1E;
    color: var(--white);
    border: 1px solid #FB1E1E;
    border-radius: var(--borderRadius);
    font-size: 1rem;
    padding: .4rem 1rem;
    margin-top: .4rem;
}


/* ========================
    Our Working Progress
   ======================== */
.working-progress-wrap {
    margin: 4rem 0;
}
.title {
    margin-top: 3rem;
}
.title > h2 {
    font-size: 1.7rem;
    letter-spacing: var(--letterSpacing);
}
.progress-wrap {
    width: 90vw;
    min-width: var(--min-width);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem auto;
}
.progress-wrap > div {
    min-height: 100%;
    width: 25vw;
    text-align: center;
}
.book-online, .confirmation, .satisfaction {
    width: 100%;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--shadow-3);
    border-radius: var(--borderRadius);
}
.book-online img, .confirmation img, .satisfaction img {
    width: 30px;
}
.confirmation, .satisfaction {
    background-color: var(--primary-500);
}.progress-div h4 {
    margin-top: 1.5rem;
    color: var(--primary-500);
    font-weight: 700;
}
.provide-div {
    width: 90vw;
    min-width: var(--min-width);
    background-color: var(--primary-500);
    text-align: center;
    margin: 2rem auto;
    color: var(--white);
    border-radius: var(--borderRadius);
    padding: 1.5rem 1rem;
}
.provide-div h2 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}
.provide-div p {
    margin: 0 auto;
    width: 83vw;
    font-size: 1rem;
}

/* ======================
    Our Services
    ====================== */
.our-services-wrap {
    background-color: var(--grey-100);
    border-radius: 20px;
    padding-top: 1rem;
    padding-bottom: 3rem;
}
.services-wrap {
    display: grid;
    gap: 2rem;
    width: 90vw;
    margin: 1rem auto;
    text-align: center;
}
.services {
    position: relative;
border-radius: var(--borderRadius);
background-color: var(--backgroundColor);
box-shadow: var(--shadow-3);
margin-top: 1.5rem;
}
.service-cover {
    position: absolute;
    width: 100%;
    min-height: 100%;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));
    border-radius: var(--borderRadius);
    visibility: hidden;
    transition: var(--transition);
    transform: scale(0);
    z-index: 1;
    display: flex;
    justify-content: center;
    padding-top: 4rem;
}
.service-btn {
    padding: 1rem 2rem;
    border: 1px dotted #FB1E1E !important;
    color: var(--white) !important;
    border-radius: var(--borderRadius);
    transition: var(--transition) !important;
}
.service-btn:hover {
    background-color: #fb1e1e !important;
}
.services:hover .service-cover {
    box-shadow: var(--shadow-4);
    visibility: visible;
    transform: scale(1);
}
.services h4 {
    margin-top: 1.5rem;
    top: 100%;
    color: var(--primary-500);
}
.services p {
    width: 75%;
    margin: 0 auto;
    color: var(--grey-600);
}
.services button {
    margin-top: 1rem;
    color: var(--primary-500);
    background-color: transparent;
    border: transparent;
    margin-bottom: 1.5rem;
    z-index: 4;
    cursor: pointer;
}
.services:hover .service-btn-inner {
    visibility: hidden !important;
}

/* ==================
    Why Choose Us section
    ================= */
.choose-us-wrap {
    padding: 1rem 0 2.5rem 0;
}
.choose-us {
    text-align: center;
}
.choose-us > p {
    width: 90vw;
    margin: 3rem auto;
    text-align: center;
    color: var(--grey-600);
}
.choose-us button {
    padding: 1rem 2rem;
    border-radius: 15px;
    background-color: #FB1E1E;
    border: 1px solid #FB1E1E;
    transition: var(--transition);
    box-shadow: var(--shadow-4);
    color: var(--white);
    cursor: pointer;
}

.choose-us button:hover {
    transform: scale(.9);
}

/* ====================
    Footer section
    =================== */
footer {
    background-color: var(--grey-800);
    color: var(--white);
}
.footer-wrap {
    width: 90vw;
    margin: 0 auto;
    padding: 1rem 1rem 2rem 1rem;
    display: grid;
}
.content {
    margin-top: 3rem;
}
.social-icon {
    margin-top: 1rem;
}
.social-icon img {
    margin-right: 1rem;
    width: 20px;
}
.content > ul > li > a, small, .content > ul > li {
    color: var(--grey-200);
}
.content > ul > li > img {
    margin-right: 1rem;
}
.content ul li {
    margin-top: 1rem;
}
.footer-wrap > p {
    margin-top: 2rem;
    text-align: center;
    font-size: .8rem;
}
.back-to-top {
    text-align: right;
    margin-top: 1rem;
}

@media (max-width: 768px) {
    .mobile-hero-text {
    font-size: 2rem;
    color: var(--white);
    width: 40vw;
    margin-left: 1.8rem;
    margin-top: 3rem;
    font-family: 'Bodoni Moda', serif;
    text-transform: none;
}
.mobile-hero-btn {
    font-family: var(--headingFont);
    background-color: #FB1E1E;
    color: var(--white);
    border: 1px solid #FB1E1E;
    border-radius: var(--borderRadius);
    font-size: 1rem;
    padding: .4rem 1rem;
    margin-top: .4rem;
}
.services-wrap {
        grid-template-columns: repeat(2, 1fr);
        width: 90vw;
}
}


@media (max-width: 600px) {
    .progress-wrap {
        flex-direction: column;
        border: 1px var(--grey-400) dotted;
        padding: 1rem 0;
         border-radius: var(--borderRadius);
    }
    .progress-wrap > div {
        min-width: 80vw;
    }
    .book-online, .confirmation, .satisfaction {
        height: 80px;
    }
    .confirmation, .satisfaction {
        margin-top: 1rem;
    }
    .mobile-hero-text {
    font-size: 1.1rem;
    color: var(--white);
    width: 33vw;
    margin-left: 1.8rem;
    margin-top: 3rem;
    font-family: 'Bodoni Moda', serif;
    text-transform: none;
}
.mobile-hero-btn {
    font-family: var(--headingFont);
    background-color: #FB1E1E;
    color: var(--white);
    border: 1px solid #FB1E1E;
    border-radius: var(--borderRadius);
    font-size: .5rem;
    padding: .4rem 1rem;
    margin-top: .4rem;
}
.services-wrap {
        grid-template-columns: repeat(1, 1fr);
        width: 90vw;
    }
}




@media (min-width: 769px) {
    .mobile-nav-hero {
        display: none;
    }
    .desktop-nav-hero {
    display: block;
    }
    .desktop-nav-wrap {
        position: absolute;
        width: 100%;
    }
    .desktop-nav {
        width: 90vw;
        display: flex;
        justify-content: center;
        justify-content: space-between;
        align-items: center;
        padding: 0 5rem;
        margin: 0 auto;
    }
    .desktop-logo {
        width: 100px;
    }
    .desktop-nav-links > a {
        color: var(--grey-200);
        display: inline-block;
        padding: 0.375rem 1rem;
    }
    .desktop-hero-wrap {
        width: 100%;
        min-height: 100vh;
        background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../images/hero-img.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
    }
    .desktop-hero-text {
        display: grid;
        font-size: 4rem;
        width: 45vw;
        margin-left: 10rem;
        color: var(--white);
        font-family: 'Bodoni Moda', serif;
        text-transform: none;   
    }
    .hero-btn {
        width: 25vw;
        font-size: 2.5rem;
        padding: 1rem 0;
        font-family: var(--headingFont);background-color: #FB1E1E;
        color: var(--white);
        border-radius: 15px;
        border: 1px solid #FB1E1E;
        transition: var(--transition);
        cursor: pointer;
        box-shadow: var(--shadow-4);
        margin-top: 1rem;
    }
    .hero-btn:hover {
        transform: scale(.9);
    }

    .progress-wrap {
        width: 65vw;
        margin: 3rem auto;
    }
    .progress-wrap > div {
        width: 19vw;
    }
    .book-online, .confirmation, .satisfaction {
        height: 150px;
    }

    .provide-div {
        width: 65vw;
    }
    .provide-div h2 {
        font-size: 2.2rem;
        font-weight: 700;
    }

    /* ===================
        Our Services
       =================== */
    .services-wrap {
        grid-template-columns: repeat(3, 1fr);
        width: 80vw;
    }

    /* ==================
        Why Choose Us 
       ================== */
    .choose-us > p {
        font-size: 1.3rem;
    }

    /* ==================
        FOOTER
       ================== */
       .footer-wrap {
           width: 80vw;
       }
    .footer-content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .footer-wrap > p {
        display: inline-block;
        max-width:  100% !important;

    }
}
@media (min-width: 1150px) {
     .desktop-hero-text {
         width: 45vw;
     }
    .hero-btn {
        max-width: 14vw;
        font-size: 2rem;
        margin-top: 1rem;
    }

    /* ===================
        Our Services
       =================== */
    .services-wrap {
        grid-template-columns: repeat(4, 1fr);
        width: 80vw;
    }
}


